<h1 id="tableLabel">Patients</h1>

<p>Shows a list of current patients.</p>

<p *ngIf="!patients"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="patients">
  <thead>
    <tr>
      <th>Date</th>
      <th>Temp. (C)</th>
      <th>Temp. (F)</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of patients">
      <td>{{ forecast.id }}</td>
      <td>{{ forecast.firstName }}</td>
      <td>{{ forecast.lastName }}</td>
      <td>{{ forecast.gender }}</td>
    </tr>
  </tbody>
</table>
